.select-button {
	display: block;
	width: 2em;
	height: 2em;
	margin: 0 0.2em;

	background: inherit;
	border: none;
	box-shadow: inset 0 0 2px;
	border-radius: 50%;

	font: inherit;
	font-size: 1em;
	white-space: nowrap;
	color: inherit;
}

.select-button-group {
	display: flex;
	align-items: center;
	justify-content: center;
}
